/*
    Css utilizado para realizar o layout no browser.
*/
.tableFormulario
{
    color: #000000;
    font-size: 7.5pt;
    font-weight: 700;
    text-align: left;
    font-family: Tahoma;
    width: 700px;
    border-width: 1px;
    border-color: #000;
    border-collapse: collapse;
}

.tableFormulario th
{
    color: #354D3F;
    font-size: 7.5pt;
    font-weight: 700;
    text-align: center;
    font-family: Tahoma;
    border-width: 1px;
    border-color: #000;
    border-collapse: collapse;
}

.tableFormulario td
{
    color: #000000;
    font-size: 7.5pt;
    text-align: left;
    font-family: Tahoma;
    border-width: 1px;
    border-color: #000;
    border-collapse: collapse;
}

.tdImage
{
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    width: 100px;
}

.titulo
{
    text-align: center;
    font-size: 13.5pt;
    font-weight: 700;
    display: inline;
}

.input1
{
    width: 100%;
    height: 17px;
    text-align: left;
    font-family: Calibri;
    font-size: 7.5pt;
    font-style: normal;
    font-weight: normal;
    white-space: normal;
    layout-grid-type: loose;
    box-sizing: border-box;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    vertical-align: text-bottom;
    border-top-color: #dcdcdc;
    border-right-color: #dcdcdc;
    border-bottom-color: #dcdcdc;
    border-left-color: #dcdcdc;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

.input1[readonly]
{
    background-color: #F9F9F9 !important;
}

.dropdownlist
{
    width: 100%;
    text-align: left;
    font-size: 7.5pt;
}

.textoCaixaAlta
{
    text-align: center;
    text-transform: none;
    font-family: Tahoma;
    font-size: 10pt !important;
    font-weight: 700 !important;
    text-align: center !important;
    font-style: normal;
}
.gridHeaderColumn
{
    background-color: rgb(242, 242, 242);
    font-style: italic !important;
}
.gridRow
{
    font-family: Tahoma !important;
    font-size: 7.5pt !important;
    font-style: normal !important;
    font-weight: normal !important;
}
.textarea
{
    border: 1px solid #dcdcdc;
    padding: 1px;
    color: windowtext;
    overflow: auto;
    text-overflow: ellipsis;
    background-color: window;
    text-align: left;
    font-family: Tahoma;
    font-size: 10pt;
    font-style: normal;
    font-weight: normal;
    overflow-x: hidden;
    word-wrap: break-word;
    }

hr
{
    height: 1px !important;
    color: #000000 !important;
    box-sizing: border-box !important;
}
.input_reenquadramento
{
    visibility:hidden
}
.buttonpdf
{
    visibility:visible
}