/*
    Css utilizado para realizar o layoput na exportação p/ PDF.
*/
body
{
    background-color: #FFFFFF;
    margin: 0px; /* this affects the margin on the content before sending to printer */			
}

.s4-titlerowhidetitle, .s4-titlelogo, .s4-titletext, .s4-socialdata-notif, #s4-searcharea
{
    display: none !important;
}

.ms-WPHeader
{
    display: none !important;
}

#divBotoes
{
    display: none;
}

.tableFormulario
{
    width: 1100px !important;	
	font-size: 13.5pt !important;
}

.tableFormulario th
{
    font-size: 13.5pt !important;
}

.tableFormulario td
{
    font-size: 13.5pt !important;
}

.titulo
{
    font-size: 18.5pt !important;
}

.input1
{
    height: 22px !important;    
    font-size: 13.5pt !important;    
}

/*.dropdownlist
{    
    font-size: 13.5pt !important;
	height: 30px !important;	
	vertical-align: text-top;
}*/

.textoCaixaAlta
{
    font-size: 15pt !important;
    font-weight: 800 !important;    
}


.gridRow
{    
    font-size: 13.5pt !important;    
}

.textarea
{
    font-size: 13.5pt !important;    
}

.gridImpressao
{
    height: 520px !important;
}

.textarea
{
    height: 144px !important;
    border-top-width: 0px !important;
    border-right-width: 0px !important;
    border-bottom-width: 0px !important;
    border-left-width: 0px !important;
}

.parecerAreas
{
    font-size: 13.5pt !important;
}

.label
{
    font-size: 13.5pt !important;
}